%ul.navbar-nav.navbar-right.root_links
  -#%li.nav-item.active
  -#  %a.nav-link{:href => "#"}
  -#    Home
  -#    %span.sr-only (current)

  -#%li.nav-item.dropdown
  -#  %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
  -#    Dropdown
  -#  .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
  -#    %a.dropdown-item{:href => "#"} Action
  -#    %a.dropdown-item{:href => "#"} Another action
  -#    .dropdown-divider
  -#    %a.dropdown-item{:href => "#"} Something else here
  -#%li.nav-item
  -#  %a.nav-link.disabled{:href => "#"} Disabled

  - actions(:root).each do |action|
    %li.nav-item{class: "#{action.action_name}_root_link"}
      = link_to wording_for(:menu, action), { action: action.action_name, controller: 'radmin/main' }, class: "nav-link #{action.remote? ? 'ajax' : ''}"

  - if main_app_root_path = (main_app.root_path rescue false)
    %li.nav-item
      = link_to t('admin.home.name'), main_app_root_path, class: 'nav-link'

  - if _current_user
    - if user_link = edit_user_link
      %li.nav-item.edit_user_root_link
        = user_link

    - if logout_path.present?
      %li.nav-item
        = link_to content_tag('span', t('admin.misc.log_out'), class: 'label label-danger'), logout_path, method: logout_method