!!! 5
%html{lang: I18n.locale}
  %head
    %title= Radmin::Config::app_title || Radmin::Config::brand_text

    = favicon_link_tag Radmin::Config::brand_icon_url

    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport; charset=utf-8'}
    %meta{content: 'NONE,NOARCHIVE', name: 'robots'}

    = csrf_meta_tag
    = stylesheet_link_tag 'radmin/radmin', media: :all

    = yield :pre_javascripts

  %body.rails_admin
    :javascript
      #{include_js_translations}

    -##loading.label.label-warning{style: 'display:none; position:fixed; right:20px; bottom:20px; z-index:100000'}= t('admin.loading')

    %nav.navbar.navbar-expand-md
      = render 'layouts/radmin/navigation'

    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar-nav.p-0
          = render 'layouts/radmin/sidebar_navigation'

        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.pr-1.pl-2
          .content
            = render template: 'layouts/radmin/content'

      - if content_for?(:footer)
        .row
          = yield :footer

  = javascript_include_tag 'radmin/radmin'
  = yield :javascripts
  = yield :post_javascripts
